.linkGeneric{
    position: relative;
    font-size: inherit;
    color: inherit;
    text-decoration: none;
}

.linkRegister{
    position: absolute;
    top: 0;
    left: 0;
    bottom:0;
    right:0;
    width: 100%;
    height: 100%;
    background: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: inherit;
        }

        .linkLogin{
            font-size: 12px;
            text-decoration: none;
            justify-self: flex-start;
            margin: 5px;
        }